* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    // outline: none;
    list-style: none;
}

img {
    user-select: none;
}

body {
    background: #F8F9FA;
}